{% load static %}
<!DOCTYPE html> <html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static "css/base.css" %}" rel="stylesheet"> </head>
<body>
<div id="header">
<a href="{% url 'dashboard' %}" class="logo">Список задач</a>
  </div>
<div id="content">
  <span class="user">
{% if request.user.is_authenticated %}
Привет {{ request.user.first_name|default:request.user.username }},
    <a href="{% url "logout" %}">Выйти</a>
{% else %}
<a href="{% url "login" %}">Войти</a>
{% endif %}
</span>
{% block content %}
{% endblock %}
</div>
</body>
</html>
